@font-face
{
    font-family: Overlock;
    src: url(/fonts/Overlock-Regular.ttf);
    font-weight: 400;
}
@font-face
{
    font-family: Overlock;
    src: url(/fonts/Overlock-Bold.ttf);
    font-weight: 700;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>     CUSTOM PROPERTIES      >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

:root
{
    /* >>>>>>> colors <<<<<<<<*/
    --clr-heading-400: hsl(39 100% 41%);
    --clr-heading-300: hsl(39 94% 57%);
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(200 70% 90%);
    --clr-neutral-800: hsl(0 0% 20%);
    --clr-neutral-900: hsl(0 0% 0%);

    /* >>>>>>> font-sizes <<<<<<<<*/
    --fs-400: 1.155rem;
    --fs-500: 1.3125rem;
    --fs-600: 1.5rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;

    @media (width > 960px)
    {
        --fs-600: 2rem;
        --fs-700: 3rem;
        --fs-800: 4rem;
    }
    
    /* >>>>>>> font-family <<<<<<<<*/
    --ff-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-display: Overlock, sans-serif;

    /* >>>>>>>>>>> BOX SHADOW <<<<<<<<<<<<<< */

    --shadow-color: 39 41% 20%;
    --shadow-sm: -2px 3px 6px -3px hsl(var(--shadow-color) / 0.2);
    --shadow-lg: -5px 10px 40px -12px hsl(var(--shadow-color) / 0.18); 
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>     BODY STYLES      >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
*
{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}
form, input, label, button
{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
body
{
    color: var(--clr-neutral-900);
    font-size: var(--fs-400);
    line-height: 1.5;
    font-family: var(--ff-base);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>     FONTS     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

h1,
h2
{
    color: var(--clr-heading-400);
    line-height: 1.1;
    font-family: var(--ff-display);
    font-weight: 700;
    padding-block: 2rem;
}
h1
{
    span
        {
            color: var(--clr-neutral-900);
            font-size: 0.75em;
            font-weight: 400;
            display: block;
        }
}
a
{
    color: var(--clr-neutral-900);
}

h1
{
    font-size: var(--fs-800);
}
h2
{
    font-size: var(--fs-700);
}
h3
{
    font-size: var(--fs-600);
    line-height: 1.1;
    padding-block: 1rem;
}
.large-text
{
    font-size: var(--fs-500);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> main header <<<<<<<<<<<<<<<<<<<<<<<<<<< */

.page-header
{
    background-color: var(--clr-neutral-800);
    padding-block: 21px;
}
.header-content
{
    display: flex;
    justify-content: space-between;
    gap: 21px;
    flex-wrap: wrap;
}
.primary-nav ul
{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 21px;
    list-style: none;
    flex-wrap: wrap;
}
.primary-nav  a
{
    color: var(--clr-heading-300);
    font-weight: 700;
    text-decoration: none;
}
.primary-nav a:hover,
.primary-nav a:focus-visible
{
    color: var(--clr-neutral-200);
    text-decoration: underline;
}
 
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> hero section <<<<<<<<<<<<<<<<<<<<<<<<<<< */

.hero
{
    /* background-color: var(--clr-heading-400);  */
    background-image: linear-gradient(hsl(39 100% 41% / .2),hsl(39 100% 41% / .2)),
    url(/images/chess-bg.jpg);
    background-size: cover;
    padding-block: 100px;
    padding-inline: 1rem;
}
.hero-content
{
    background-color: hsl(39 41% 95% / .7); 
    border-radius: 15px;
    text-align: start;
}
.hero-content > :first-child
{
    margin-block-start: 0;
}
.button
{
    text-decoration: none;
    background-color: var(--clr-heading-300);
    border-radius: 10px;
    padding: .5em 1.5em;
    display: block;
    width: fit-content;
    margin-inline: auto;
}
.button:hover,
.button:focus-visible
{
    background-color: var(--clr-neutral-800);
    border: 2px solid var(--clr-heading-300);
    color: var(--clr-heading-300);
}


.wrapper
{
    max-inline-size: 900px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> grid section <<<<<<<<<<<<<<<<<<<<<<<<<<< */
.grid-wrapper
{
    max-inline-size: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}
.grid
{
    display: grid;
    gap: 1.5rem;

    @media (width > 720px)
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.grid-item
{
    background-color: hsl(39 41% 95% / .8); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--shadow-sm), var(--shadow-lg);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> courses section <<<<<<<<<<<<<<<<<<<<<<<<<<< */
.lessons
{
    text-align: center;
}
.course
{
    display: grid;
    gap: 0.5rem;
    text-align: start;
    align-content: end;
    color: var(--clr-neutral-200);
    padding: 1.5rem;
    padding-block-start: 100px;

    border-radius: 15px;
    position: relative;
    isolation: isolate;
}
.item01
{
    background-image: url(/images/central-control.jpg);
    background-size: cover;
}
.item02
{
    background-image: url(/images/fork-pin-skewer.jpg);
    background-size: cover;
}
.item03
{
    background-image: url(/images/king-pawn-endgame.jpg);
    background-size: cover;
}
.item04
{
    background-image: url(/images/italian-opening.jpg);
    background-size: cover;
}
.item05
{
    background-image: url(/images/trading-pieces.jpg);
    background-size: cover;
}
.item06
{
    background-image: url(/images/calculating.jpg);
    background-size: cover;
}

.course-tag
{
    position: absolute;
    top: 20px;
    left: 0;

    background-color: var(--clr-heading-400);
    padding-inline: 15px;
    padding-block: 5px;
}
.course-title
{
    font-size: var(--fs-500);
}
.course-description
{
    padding-block-end: 1rem;
}
[data-label]::before
{
    content: 'FOR SALE!';
    position: absolute;
    font-family: inherit;
    font-size: inherit;
    top: 65px;
    left: 0;
    background-color: orangered;
    padding: 5px 10px;
}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> footer section <<<<<<<<<<<<<<<<<<<<<<<<<<< */

footer
{
    background-color: var(--clr-neutral-800);
    background-image: linear-gradient(var(--clr-neutral-800), var(--clr-neutral-900));
    text-align: center;
    padding: 50px;
    p{
        color: var(--clr-neutral-100);
    }
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> form page <<<<<<<<<<<<<<<<<<<<<<<<<<< */

.form
{
    background-image: url(/images/chess-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 2rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> about page <<<<<<<<<<<<<<<<<<<<<<<<<<< */


.instructor-hero
{
    background-image: linear-gradient(hsl(39 100% 41% / .2),hsl(39 100% 41% / .2)),
    url(/images/chess-bg.jpg);
    background-size: cover;
    margin-inline: auto;
    padding-block: 100px;
    padding-inline: 1rem;
}
.instructor-hero-content
{
    max-inline-size: 1200px;
    padding-inline: 2rem;
    text-align: start;
}

.about-heading
{
    text-align: center;
}
.about
{
    display: grid;
    gap: 4rem;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    margin-block-end: 4rem;

    @media (width > 720px)
    {
        grid-template-columns: 1fr 1fr;
    }
}
.card-info
{
    background-color: hsl(39 41% 95% / .8); 
    padding: 20px 30px;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
    box-shadow: var(--shadow-sm), var(--shadow-lg);
}
.grid-2-col
{
    display: grid;
    gap: 4rem;

    @media (width > 720px)
    {
        grid-template-columns: 1fr 1fr;
    }
}